#![enable(implicit_some)]
(
    modkey: "Mod4",
    mousekey: "Mod4",
    workspaces: [],
    tags: [
        "1",
        "2",
        "3",
        "4",
        "5",
        "6",
        "7",
        "8",
        "9",
    ],
    max_window_width: None,
    layouts: [
        MainAndVertStack,
        MainAndHorizontalStack,
        MainAndDeck,
        GridHorizontal,
        EvenHorizontal,
        EvenVertical,
        Fibonacci,
        CenterMain,
        CenterMainBalanced,
        Monocle,
        RightWiderLeftStack,
        LeftWiderRightStack,
    ],
    layout_mode: Workspace,
    insert_behavior: Bottom,
    scratchpad: [
        (name: "Alacritty", value: "alacritty -e /home/daze/.local/scripts/tmc main", x: 260, y: 140, height: 800, width: 1400),
        (name: "Obsidian", value: "obsidian", x: 260, y: 140, height: 800, width: 1400),
        (name: "Telegram", value: "telegram-desktop", x: 260, y: 140, height: 800, width: 1400),
        (name: "Routine", value: "feh ~/.config/spadimages/routine.png --zoom 84 max", x: 260, y: 140, height: 800, width: 1400),
        (name: "Colemak", value: "feh ~/.config/spadimages/colemak.png --pan-button 9", x: 467, y: 138, height: 266, width: 986),
        (name: "Discord", value: "discord --ignore-gpu-blocklist --disable-features=UseOzonePlatform --enable-features=VaapiVideoDecoder --use-gl=desktop --enable-gpu-rasterization --enable-zero-copy", x: 260, y: 140, height: 800, width: 1400),
        (name: "Spotify", value: "LD_PRELOAD=/usr/local/lib/spotify-adblock.so spotify-launcher", x: 260, y: 140, height: 800, width: 1400),
        (name: "FileExplorer", value: "pcmanfm", x: 260, y: 140, height: 800, width: 1400),
    ],
    window_rules: [
        (window_class: None, window_title: "OpenGL-Practice", spawn_on_tag: 3, spawn_on_workspace: None, spawn_on_workspace_id: None, spawn_floating: true, spawn_sticky: None, spawn_fullscreen: None, spawn_as_type: None),
    ],
    disable_current_tag_swap: false,
    disable_tile_drag: false,
    disable_window_snap: true,
    focus_behaviour: Sloppy,
    focus_new_windows: true,
    single_window_border: true,
    sloppy_mouse_follows_focus: true,
    auto_derive_workspaces: true,
    keybind: [
        (command: Execute, value: "exec ~/.config/rofi/launchers/misc/launcher.sh", modifier: ["modkey"], key: "p"),
        (command: Execute, value: "killall picom", modifier: ["modkey", "Shift"], key: "p"),
        (command: SetLayout, value: "Monocle", modifier: ["modkey"], key: "m"),
        (command: FloatingToTile, value: "", modifier: ["modkey", "Shift"], key: "t"),
        (command: Execute, value: "alacritty", modifier: ["modkey", "Control"], key: "Return"),
        (command: Execute, value: "firefox-developer-edition", modifier: ["modkey"], key: "b"),
        (command: CloseWindow, value: "", modifier: ["modkey"], key: "q"),
        (command: SoftReload, value: "", modifier: ["modkey", "Shift"], key: "r"),
        (command: Execute, value: "loginctl kill-session $XDG_SESSION_ID", modifier: ["modkey", "Shift"], key: "x"),
        (command: Execute, value: "systemctl suspend", modifier: ["modkey", "Control"], key: "BackSpace"),
        (command: Execute, value: "slock", modifier: ["modkey", "Control"], key: "l"),
        (command: MoveToLastWorkspace, value: "", modifier: ["modkey", "Shift"], key: "w"),
        (command: SwapTags, value: "", modifier: ["modkey"], key: "w"),
        (command: MoveWindowUp, value: "", modifier: ["modkey", "Shift"], key: "k"),
        (command: MoveWindowDown, value: "", modifier: ["modkey", "Shift"], key: "j"),
        (command: MoveWindowTop, value: "", modifier: ["modkey", "Shift"], key: "Return"),
        (command: FocusWindowUp, value: "", modifier: ["modkey"], key: "k"),
        (command: FocusWindowDown, value: "", modifier: ["modkey"], key: "j"),
        (command: NextLayout, value: "", modifier: ["modkey", "Shift"], key: "Tab"),
        (command: PreviousLayout, value: "", modifier: ["modkey", "Control"], key: "j"),
        (command: FocusWorkspaceNext, value: "", modifier: ["modkey"], key: "l"),
        (command: FocusWorkspacePrevious, value: "", modifier: ["modkey"], key: "h"),
        (command: MoveWindowUp, value: "", modifier: ["modkey", "Shift"], key: "Up"),
        (command: MoveWindowDown, value: "", modifier: ["modkey", "Shift"], key: "Down"),
        (command: FocusWindowUp, value: "", modifier: ["modkey"], key: "Up"),
        (command: FocusWindowDown, value: "", modifier: ["modkey"], key: "Down"),
        (command: NextLayout, value: "", modifier: ["modkey", "Control"], key: "Up"),
        (command: PreviousLayout, value: "", modifier: ["modkey", "Control"], key: "Down"),
        (command: FocusWorkspaceNext, value: "", modifier: ["modkey"], key: "Right"),
        (command: FocusWorkspacePrevious, value: "", modifier: ["modkey"], key: "Left"),
        (command: GotoTag, value: "1", modifier: ["modkey"], key: "1"),
        (command: GotoTag, value: "2", modifier: ["modkey"], key: "2"),
        (command: GotoTag, value: "3", modifier: ["modkey"], key: "3"),
        (command: GotoTag, value: "4", modifier: ["modkey"], key: "4"),
        (command: GotoTag, value: "5", modifier: ["modkey"], key: "5"),
        (command: GotoTag, value: "6", modifier: ["modkey"], key: "6"),
        (command: GotoTag, value: "7", modifier: ["modkey"], key: "7"),
        (command: GotoTag, value: "8", modifier: ["modkey"], key: "8"),
        (command: GotoTag, value: "9", modifier: ["modkey"], key: "9"),
        (command: MoveToTag, value: "1", modifier: ["modkey", "Shift"], key: "1"),
        (command: MoveToTag, value: "2", modifier: ["modkey", "Shift"], key: "2"),
        (command: MoveToTag, value: "3", modifier: ["modkey", "Shift"], key: "3"),
        (command: MoveToTag, value: "4", modifier: ["modkey", "Shift"], key: "4"),
        (command: MoveToTag, value: "5", modifier: ["modkey", "Shift"], key: "5"),
        (command: MoveToTag, value: "6", modifier: ["modkey", "Shift"], key: "6"),
        (command: MoveToTag, value: "7", modifier: ["modkey", "Shift"], key: "7"),
        (command: MoveToTag, value: "8", modifier: ["modkey", "Shift"], key: "8"),
        (command: MoveToTag, value: "9", modifier: ["modkey", "Shift"], key: "9"),
        (command: ToggleFullScreen, value: "", modifier: ["modkey"], key: "space"),
        (command: Execute, value: "~/.local/scripts/toggle_polybar", modifier: ["modkey", "Shift"], key: "space"),
        (command: Execute, value: "~/.local/scripts/toggle_layout", modifier: ["modkey", "Shift"], key: "l"),
        // (command: ToggleNBFullScreen, value: "/home/daze/.local/scripts/toggle_polybar", modifier: ["modkey", "Shift"], key: "space"),
        (command: Execute, value: "maim -s --hidecursor | xclip -selection clipboard -t image/png", modifier: [], key: "Print"),
        (command: ToggleScratchPad, value: "Alacritty", modifier: ["modkey"], key: "Return"),
        (command: ToggleScratchPad, value: "Obsidian", modifier: ["modkey"], key: "n"),
        (command: ToggleScratchPad, value: "Telegram", modifier: ["modkey"], key: "t"),
        // (command: ToggleScratchPad, value: "Routine", modifier: ["modkey"], key: "s"),
        // (command: ToggleScratchPad, value: "Colemak", modifier: ["modkey"], key: "m"),
        (command: ToggleScratchPad, value: "Discord", modifier: ["modkey"], key: "d"),
        (command: ToggleScratchPad, value: "Spotify", modifier: ["modkey"], key: "s"),
        (command: ToggleScratchPad, value: "FileExplorer", modifier: ["modkey"], key: "e"),
        (command: ToggleSticky, value: "", modifier: ["modkey"], key: "i"),
        (command: SetMarginMultiplier, value: "0", modifier: ["modkey"], key: "a"),
    ],
    state_path: None,
)
